<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>139671184336-gdnpa7bt72umgeoah73c3b5abv125s3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139671184336-gdnpa7bt72umgeoah73c3b5abv125s3t</string>
	<key>API_KEY</key>
	<string>AIzaSyDvmocejKDb41b6JNF9f5TKmtx_odDgRF8</string>
	<key>GCM_SENDER_ID</key>
	<string>139671184336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dominickPicchione.Groupo-Beta-1</string>
	<key>PROJECT_ID</key>
	<string>groupo-beta-1</string>
	<key>STORAGE_BUCKET</key>
	<string>groupo-beta-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:139671184336:ios:823ceba4467abc90</string>
	<key>DATABASE_URL</key>
	<string>https://groupo-beta-1.firebaseio.com</string>
</dict>
</plist>